.btn-area {
		position: relative;
		width: 100%;
		margin: 15px auto;
		text-align: center;
}
.btn-popup {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	background: #4ba355;
	color: #fff;
	padding: 5px 15px;
	border: 1px solid #80c984;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.htz-popup-api {
	position: fixed; 
	z-index: 1010;
	left: 0;
	top: 0%;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.1);
}
.htz-popup-api .main-content {
	background: #ffffff;
	max-width:500px;
	color: #000;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	z-index: 1000;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.htz-popup-api .main-content .form-control .input-control {
	padding: 5px;
	margin: 5px;
	width: 100%;
}

.htz-popup-api .main-content .form-control .form-btn {
	text-align: center;
}
.htz-popup-api .main-content .form-control .form-btn .btn {
	padding: 5px 15px;
	font-size: 16px;
	font-weight: 500;
	border: none;
}
.htz-popup-api .main-content .form-control .form-btn .btn.btn-register-api{
	color: #ffffff;
	background: #4ba355;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #80c984; 
}

.htz-popup-api .main-content .header {
	text-align: center;
	padding: 10px 5px;
}
.htz-popup-api .main-content .header label {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.htz-popup-api .main-content .header .close {
	position: absolute;
	top: -15px;
	right: -15px;
	padding: 1px 5px;
	left: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}
/*form embeb*/
.form-embeb {
	position: relative;
	width: 100%;
	margin: 0px auto;
}
.form-embeb .main-content {
	background: #ffffff;
	max-width:500px;
	color: #000;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	z-index: 1000;
	padding: 15px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.form-embeb .main-content .form-control .input-control {
	padding: 5px;
	margin: 5px;
	width: 100%;
}
.form-embeb .main-content .form-control .form-btn {
	text-align: center;
}
.form-embeb .main-content .form-control .form-btn .btn {
	padding: 5px 15px;
	font-size: 16px;
	font-weight: 500;
	border: none;
}
.form-embeb .main-content .form-control .form-btn .btn.btn-register-api{
	color: #ffffff;
	background: #4ba355;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #80c984; 
}

.form-embeb .main-content .form-embeb .main-content .header {
	text-align: center;
	padding: 10px 5px;
}
.form-embeb .main-content .form-embeb .main-content .header label {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.form-embeb .main-content .form-control input,
.form-embeb .main-content .form-control textarea {
	font-size: 15px;
	font-weight: 400;
	color: #333;
}
.form-embeb .main-content .form-control input::placeholder,
.form-embeb .main-content .form-control textarea::placeholder {
	font-size: 15px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
}
.main-content .form-control textarea {
	border: 1px solid #e1e1e1;
    width: 100%;
    max-width: 100%;
    height: 100px;
    min-height: 100px;
}
/*end form embed*/